/* styles.css (or styles.scss) */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .login-container {
    margin-bottom: 20px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .user-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-info {
    color: #333;
  }
  
  .user-photo:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  /* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
  .open {
    display: block;
  }

  .modal-photo {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
  }